 #results {
         display:none;
       }
body {
 background-image: url("https://i.guim.co.uk/img/media/663c13281a3cbef6947382d3ef7820a886abf3b7/0_155_5472_3283/master/5472.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=3416bc02fd62063c6f5049c645b4e340");
 background-color: #cccccc;
}
